@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

body{
  color : white
}

::selection{
  background-color: indigo;
  color : white
}
::-moz-selection{
  background-color: indigo;
  color : white
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}